<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/whisk.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>A desszert - Édes üzem</title>
</head>

<body>
    <div class="content">
        <header class="top-header">
            <div class="header-contents">
                <div>
                    <img class="main-logo" src="/adesszert-logo.png" alt="adesszert_logo">
                </div>
                <div class="main-title-div">
                    <h1 class="main-title"><span class="adesszert">A desszert -</span> Édes üzem</h1>
                </div>
            </div>
        </header>

        <div class="navbar-div">
            <nav class="navbar ">
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#categories">
                    <span class="navbar-toggler-icon" style="width: 20px; height: 20px;"></span>
                </button>
                <span class="category-title">Kategóriák</span>
                <div class="collapse navbar-collapse" id="categories">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#brownie-part" class="nav-link">Brownie-k</a>
                        </li>
                        <li class="nav-item">
                            <a href="#cheesecake-part" class="nav-link">Sajttorták</a>
                        </li>
                        <li class="nav-item">
                            <a href="#seasonal-cheesecake-part" class="nav-link">Szezonális sajttorták</a>
                        </li>
                        <li class="nav-item">
                            <a href="#pie-part" class="nav-link">Piték</a>
                        </li>
                        <li class="nav-item">
                            <a href="#specialities-part" class="nav-link">Különlegességek</a>
                        </li>
                        <li class="nav-item">
                            <a href="#free-cakes-part" class="nav-link">Mentes sütik</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        

        <%- include('brownies.ejs') %>
        <div class="horizontal">
            <h3 class="imageheader" align="center"><img class="cupcake" src="/cupcake.png" alt="cupcake"></h3>
        </div>
        <%- include('cheesecakes.ejs') %>
        <div class="horizontal">
            <h3 class="imageheader" align="center"><img class="cupcake" src="/cupcake.png" alt="cupcake"></h3>
        </div>
        <%- include('seasonalCheesecakes.ejs') %>
        <div class="horizontal">
            <h3 class="imageheader" align="center"><img class="cupcake" src="/cupcake.png" alt="cupcake"></h3>
        </div>
        <%- include('pies.ejs') %>
        <div class="horizontal">
            <h3 class="imageheader" align="center"><img class="cupcake" src="/cupcake.png" alt="cupcake"></h3>
        </div>
        <%- include('specialities.ejs') %>
        <div class="horizontal">
            <h3 class="imageheader" align="center"><img class="cupcake" src="/cupcake.png" alt="cupcake"></h3>
        </div>
        <%- include('freeCakes.ejs') %>

        <div class="scroll-up-button-div">
            <button type="button" class="scroll-up-button" title="Vissza az oldal tetejére">
                <img class="start-scroll-button-icon" src="/up2.png" />
                <img class="hover-scroll-button-icon" src="/up.png" />
            </button>
        </div>

        <%- include('footer.ejs') %>
    </div>
    <script src="/scripts.js"></script>
</body>

</html>