<div class="cheesecakes" id="cheesecake-part">
    <h1 align="center" class="brownie-header">Sajttorták:</h1>
    <div class="brownie-container">
        <% for (let i = 0; i < cheesecakes.length; i++) { %>
        <% var counter = 0; %>
        <div class="brownie-div">
            <a href="#<%=cheesecakes[i].id%>" data-toggle="modal" data-target="#<%=cheesecakes[i].id%>"><img
                    class="cake-image" src="/cheesecake.jpg" alt="cheesecake"></a>
            <p class="cake-title"><%=cheesecakes[i].name%></p>
            <button class="details-button" type="button" data-toggle="modal"
                data-target="#<%=cheesecakes[i].name%>">Részletek</button>
        </div>

        <div id="<%=cheesecakes[i].id%>" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="/cheesecake.jpg" alt="" class="img-fluid">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="<%=cheesecakes[i].name%>" tabindex="-1">
            <div class="modal-dialog" id="<%=cheesecakes[i].name%>">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="color:#624143"><%=cheesecakes[i].name%></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 style="text-align: left; color: #624143">Összetevők:</h6>
                        <div style="margin-bottom: 20px; text-align: left;">
                            <% let ingredients = cheesecakes[i].ingredients; %>
                            <% for (let i = 0; i < ingredients.length; i++) { %>
                            <span class="ingredient-span"><%= ingredients[i] %></span>
                            <% } %>
                        </div>

                        <h6 style="text-align: left; color: #624143"">Allergének:</h6>
                        <div style=" text-align: left;">
                            <% let allergens = cheesecakes[i].allergens; %>
                            <% for (let i = 0; i < allergens.length; i++) { %>
                            <span class="allergen-span"><%= allergens[i] %></span>
                            <% } %>
                    </div>

                    <% if (!cheesecakes[i].ingredients.includes("liszt")) { %>
                    <h6 style="text-align: left; color: #624143">Mentes ettől:</h6>
                    <div style="text-align: left;">
                        <span class="ingredient-span">liszt</span>
                    </div>
                    <% } %>
                </div>

                <div class="modal-footer">
                    <button type="button" class="modal-close-button" data-dismiss="modal">Bezár</button>
                </div>
            </div>
        </div>
    </div>
    <% counter++; %>
    <% } %>
</div>
</div>