<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/whisk.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>A desszert - Édes üzem</title>
</head>

<body>
    <div class="content">
        <header class="top-header">
            <div class="header-contents">
                <div>
                    <img class="main-logo" src="/adesszert-logo.png" alt="adesszert_logo">
                </div>
                <div class="main-title-div">
                    <h1 class="main-title"><span class="adesszert">A desszert -</span> Édes üzem</h1>
                </div>
            </div>
        </header>

        <div class="brownies">
            <h1 align="center" class="brownie-header">Brownie-k:<br><span
                    class="brownie-glutenfree">(gluténmentes)</span></h1>
            <div class="brownie-container">
                <% for (let i = 0; i < brownies.length; i++) { %>
                <% var counter = 0; %>
                <div class="brownie-div">
                    <a href="#<%=brownies[i].id%>" data-toggle="modal" data-target="#<%=brownies[i].id%>"><img class="cake-image" src="/brownie.jpg" alt="cheesecake"></a>
                    <p class="cake-title"><%=brownies[i].name%></p>
                    <button class="details-button" type="button" data-toggle="modal"
                        data-target="#<%=brownies[i].name%>">Részletek</button>
                </div>

                <div id="<%=brownies[i].id%>" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="/brownie.jpg" alt="" class="img-fluid">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="<%=brownies[i].name%>" tabindex="-1">
                    <div class="modal-dialog" id="<%=brownies[i].id%>">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 style="color:#624143"><%=brownies[i].name%></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <h6 style="text-align: left; color: #624143">Összetevők:</h6>
                                <p style="text-align: left;">Lorem ipsum dolor sit amet</p>
                                <h6 style="text-align: left; color: #624143"">Allergének:</h6>
                                <p style=" text-align: left;">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="modal-close-button" data-dismiss="modal">Bezár</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% counter++; %>
                <% } %>
            </div>
        </div>

        <div class="cheesecakes">
            <h1 align="center" class="brownie-header">Sajttorták:</h1>
            <div class="brownie-container">
                <% for (let i = 0; i < cheesecakes.length; i++) { %>
                <% var counter = 0; %>
                <div class="brownie-div">
                    <a href="#<%=cheesecakes[i].id%>" data-toggle="modal" data-target="#<%=cheesecakes[i].id%>"><img class="cake-image" src="/cheesecake.jpg" alt="cheesecake"></a>
                    <p class="cake-title"><%=cheesecakes[i].name%></p>
                    <button class="details-button" type="button" data-toggle="modal"
                        data-target="#<%=cheesecakes[i].name%>">Részletek</button>
                </div>

                <div id="<%=cheesecakes[i].id%>" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="/cheesecake.jpg" alt="" class="img-fluid">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="<%=cheesecakes[i].name%>" tabindex="-1">
                    <div class="modal-dialog" id="<%=cheesecakes[i].name%>">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 style="color:#624143"><%=cheesecakes[i].name%></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <h6 style="text-align: left; color: #624143">Összetevők:</h6>
                                <p style="text-align: left;">Lorem ipsum dolor sit amet</p>
                                <h6 style="text-align: left; color: #624143"">Allergének:</h6>
                                <p style=" text-align: left;">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="modal-close-button" data-dismiss="modal">Bezár</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% counter++; %>
                <% } %>
            </div>
        </div>

        <div class="seasonalCheesecakes">
            <h1 align="center" class="brownie-header">Szezonális sajttorták:</h1>
            <div class="brownie-container">
                <% for (let i = 0; i < seasonalCheesecakes.length; i++) { %>
                <% var counter = 0; %>
                <div class="brownie-div">
                    <a href="#<%=seasonalCheesecakes[i].id%>" data-toggle="modal" data-target="#<%=seasonalCheesecakes[i].id%>"><img class="cake-image" src="/ferrero.jpg" alt="cheesecake"></a>
                    <p class="cake-title"><%=seasonalCheesecakes[i].name%></p>
                    <button class="details-button" type="button" data-toggle="modal"
                        data-target="#<%=seasonalCheesecakes[i].name%>">Részletek</button>
                </div>

                <div id="<%=seasonalCheesecakes[i].id%>" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="/ferrero.jpg" alt="" class="img-fluid">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="<%=seasonalCheesecakes[i].name%>" tabindex="-1">
                    <div class="modal-dialog" id="<%=seasonalCheesecakes[i].name%>">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 style="color:#624143"><%=seasonalCheesecakes[i].name%></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <h6 style="text-align: left; color: #624143">Összetevők:</h6>
                                <p style="text-align: left;">Lorem ipsum dolor sit amet</p>
                                <h6 style="text-align: left; color: #624143"">Allergének:</h6>
                                <p style=" text-align: left;">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="modal-close-button" data-dismiss="modal">Bezár</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% counter++; %>
                <% } %>
            </div>
        </div>

        <div class="specialities">
            <h1 align="center" class="brownie-header">Különlegességek:</h1>
            <div class="brownie-container">
                <% for (let i = 0; i < specialities.length; i++) { %>
                <% var counter = 0; %>
                <div class="brownie-div">
                    <a href="#<%=specialities[i].id%>" data-toggle="modal" data-target="#<%=specialities[i].id%>"><img class="cake-image" src="/speciality.jpg" alt="cheesecake"></a>
                    <p class="cake-title"><%=specialities[i].name%></p>
                    <button class="details-button" type="button" data-toggle="modal"
                        data-target="#<%=specialities[i].name%>">Részletek</button>
                </div>

                <div id="<%=specialities[i].id%>" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="/speciality.jpg" alt="" class="img-fluid">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="<%=specialities[i].name%>" tabindex="-1">
                    <div class="modal-dialog" id="<%=specialities[i].name%>">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 style="color:#624143"><%=specialities[i].name%></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <h6 style="text-align: left; color: #624143">Összetevők:</h6>
                                <p style="text-align: left;">Lorem ipsum dolor sit amet</p>
                                <h6 style="text-align: left; color: #624143"">Allergének:</h6>
                                <p style=" text-align: left;">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="modal-close-button" data-dismiss="modal">Bezár</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% counter++; %>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>