<div class="seasonalCheesecakes" id="seasonal-cheesecake-part">
    <h1 align="center" class="brownie-header">Szezonális sajttorták:</h1>
    <div class="brownie-container">
        <% for (let i = 0; i < seasonalCheesecakes.length; i++) { %>
        <% var counter = 0; %>
        <div class="brownie-div">
            <a href="#<%=seasonalCheesecakes[i].id%>" data-toggle="modal"
                data-target="#<%=seasonalCheesecakes[i].id%>"><img class="cake-image" src="/ferrero.jpg"
                    alt="cheesecake"></a>
            <p class="cake-title"><%=seasonalCheesecakes[i].name%></p>
            <button class="details-button" type="button" data-toggle="modal"
                data-target="#<%=seasonalCheesecakes[i].name%>">Részletek</button>
        </div>

        <div id="<%=seasonalCheesecakes[i].id%>" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="/ferrero.jpg" alt="" class="img-fluid">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="<%=seasonalCheesecakes[i].name%>" tabindex="-1">
            <div class="modal-dialog" id="<%=seasonalCheesecakes[i].name%>">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="color:#624143"><%=seasonalCheesecakes[i].name%></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 style="text-align: left; color: #624143">Összetevők:</h6>
                        <p style="text-align: left;">Lorem ipsum dolor sit amet</p>
                        <h6 style="text-align: left; color: #624143"">Allergének:</h6>
                        <p style=" text-align: left;">Lorem ipsum dolor sit amet</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="modal-close-button" data-dismiss="modal">Bezár</button>
                    </div>
                </div>
            </div>
        </div>
        <% counter++; %>
        <% } %>
    </div>
</div>